<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: '', class: "form-control border-input" %>
  </div>
  <br>
  <br>
  <div class="form-group">
  <%= f.label :Descrition %>
  <%= f.text_area :description, placeholder: 'Short Descrition', class: "form-control border-input" %>
  </div>

  <br>
  <br>
  <div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, placeholder: 'Blog Content', class: "form-control border-input" %>
  </div>

  <div class="form-group">
  <%= f.label :Image %>
  <%= f.text_field :image, placeholder: 'https://blogimage.com/image.png', class: "form-control border-input" %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
