<title>Where's Hara | Edit</title>
<style>
footer{
display:none;
}
</style>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
     <%= f.label :email %><br />
     <%= f.email_field :email, autofocus: true, class: "form-control border-input" %>
  </div>

  <!-- if devise_mapping.confirmable? && resource.pending_reconfirmation? %>-->
  <!--  <div>Currently waiting confirmation for:  resource.unconfirmed_email %></div>-->
  <!--end %>-->
<div class="form-group">
<%= f.label :About_you %>
<%= f.text_area :about, placeholder: 'Introduce you and your Pet(s).', class: "form-control border-input" %>
</div>
<br>
<div class="form-group">
<%= f.label :facebook_profile_link %>
<i class="fa fa-info-circle" aria-hidden="true" data-placement="right" data-toggle="tooltip" title="If/When your Pet is found, Users will send you a Facebook message. Leave blank if you want this hidden."></i>
<%= f.text_field :facebook, placeholder: 'https://www.facebook.com/aris.nance', class: "form-control border-input" %>
</div>

<br>
<div class="form-group">
<%= f.label :Phone_number %>
<i class="fa fa-info-circle" aria-hidden="true" data-placement="right" data-toggle="tooltip" title="We need this for our click to call feature. Its optional so leave it blank if you want to hide this field from your profile."></i>
<%= f.text_field :phone_number, placeholder: '2068412369', class: "form-control border-input" %>
</div>
<br>

  <!--<div class="field">-->
  <!--   f.label :password %> <i>(leave blank if you don't want to change it)</i><br />-->
  <!--   f.password_field :password, autocomplete: "off" %>-->
  <!--   if @minimum_password_length %>-->
  <!--    <br />-->
  <!--    <em> @minimum_password_length %> characters minimum</em>-->
  <!--   end %>-->
  <!--</div>-->
  

  <!--<div class="field">-->
  <!--   f.label :password_confirmation %><br />-->
  <!-- f.password_field :password_confirmation, autocomplete: "off" %>-->
  <!--</div>-->
<!--removed current password input-->
<!--as per doc https://github.com/plataformatec/devise/wiki/How-To:-Allow-users-to-edit-their-account-without-providing-a-password-->
  <div class="actions">
    <%= f.submit "Update", class: "btn-outline btn-xl" %>
  </div>
<% end %>


<!--<p>Unhappy? button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->
