<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<!--bootstrap-->
 
<title><%= @user.name %> | Profile</title>
<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<!-- CSS Files -->
<style>
.litter-box-row{
margin-left: 33%;
}

.btn-primary{
background-color: rgb(86, 184, 143);
border-color: transparent;
}
.btn-primary:hover {
color: #ffffff !important;
background-color: rgb(86, 184, 143);
border-color: transparent;
}
#report_found{
margin-top: -40%;
}
.alert-notice {
z-index: 1031;
}
.btn-xl{
margin-top: -30%;
position: absolute;
margin-left: 20%;
}
.thredded--navigation--search{
margin-left: -10% !important;
}
.fa-pencil{
/*margin-left: 48%;*/
font-size: 8px;
/*color: #e6d5ba;*/
}
.bg-primary {
background-color: rgba(207, 216, 220, 0.38) !important;
}
/* iphone 6 Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){
#timeline {
width:auto;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){
#report_found{
margin-left: -40%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){
#report_lost{
margin-left: -40%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){
.wrapper{
overflow-x:hidden;
  }
}
/*@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){*/
/*body{*/
/*overflow-x:hidden;*/
/*  }*/
/*}*/
</style>
</head>

<body class="profile-page">

<div class="wrapper">
<div class="page-header page-header-small" filter-color="orange">
<div class="page-header-image" data-parallax="true" style="background-image: url('');">
</div>
<div class="container">
<div class="content-center">
<div class="photo-container">
<%= image_tag(@user.image) %>
</div>
<h3 class="title"><%= @user.name %></h3>
<br>
<p class="category"> </p>
<div class="content">
<div class="social-description">
<!--<h2>1 New</h2>-->
<!--<p>Messages</p>-->
</div>
<!--<div class="social-description">-->
<!--    <h2>26</h2>-->
<!--    <p>Comments</p>-->
<!--</div>-->
<!--<div class="social-description">-->
<!--    <h2>48</h2>-->
<!--    <p>Bookmarks</p>-->
<!--</div>-->
</div>
</div>
</div>
</div>
<div class="section">
<div class="container">
<div class="button-container">
<%= link_to 'Message', new_private_topic_path,  target: "_blank", class: "btn btn-primary btn-round btn-lg", 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => 'Did you locate a lost pet? Send the owner a private message.' %>
<!--<a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Did you located a lost pet? Place a call to the owner.">-->
<!--check if phone number is blank-->
<% if @user.phone_number.blank? %>

<% else %>
<%= link_to "tel:#{@user.phone_number}", class: "btn btn-default btn-lg btn-icon", 'data-toggle' => 'tooltip', 'data-placement' => 'right', :title => 'Did you locate a lost pet? Place a call to the owner.' do %>
<i class="fa fa-phone"></i>
 <% end %>
<% end %>
</a>
<% if @user.facebook.blank? %>

<% else %>
<%= link_to @user.facebook, target: "_blank", class: "btn btn-default btn-lg btn-icon" do %>
<i class="fa fa-facebook"></i>
<% end %>
<% end %>
</div>
<h3 class="title"> </h3>

<h5 class="description"><%= @user.about %></h5>

<div class="row litter-box-row">
<div class="col-md-6 offset-md-3">
<h4 class="title text-center">Litter Box</h4>
<div class="nav-align-center">
<ul class="nav nav-pills nav-pills-primary" role="tablist">
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#profile" role="tablist">
<i class="fa fa-paw" aria-hidden="true" rel="tooltip" data-placement="right" title="The Pets in my household"></i>
</a>
</li>
<li class="nav-item">
<a class="nav-link active" data-toggle="tab" href="#home" role="tablist">
<i class="fa fa-calendar-check-o" rel="tooltip" data-placement="right" title="Find resources, events, and announcements"></i>
</a>
</li>
<!--<li class="nav-item">-->
<!--<a class="nav-link" data-toggle="tab" href="#messages" role="tablist">-->
<!--<i class="now-ui-icons sport_user-run"></i>-->
<!--</a>-->
<!--</li>-->
</ul>
</div>
</div>
<!-- Tab panes -->
<!--announcements-->
<div class="tab-content gallery">
<div class="tab-pane active" id="home" role="tabpanel">
<div class="row">
<div class="col-md-10 offset-md-1">
<div class="row collections">
<div class="col-md-6">
    <%= render 'shared/announcements' %>
</div>
<div class="col-md-6">
    <!--<img src="../assets/img/bg8.jpg" alt="" class="img-raised">-->
    <!--<img src="../assets/img/bg7.jpg" alt="" class="img-raised">-->
</div>
</div>
</div>
</div>
</div>
<div class="tab-pane" id="profile" role="tabpanel">
<div class="row">
<div class="col-md-10 offset-md-1">
<div class="row collections">
<div class="col-md-6">
    <% @user.subscriptions.each do |subscription| %>
    <% if subscription.lost? && subscription.user == current_user %>
    <%= link_to subscription do %>
    <i class="fa fa-info-circle pet_profile" aria-hidden="true" data-placement="right" data-toggle="tooltip" title="Visit this Pets profile."></i>
    <% end %>
    <h6 class="pet_name"><%= subscription.title %></h6>
    <div class="actions">
        <%= link_to subscription_edit_path, subscription do %>
        <i class="fa fa-pencil"></i>
        <% end %>
    </div>
    <%= image_tag(subscription.pet_image, class: "img-raised img-thumbnail lost")%>

    <%= link_to 'Report Found', subscriptions_found_path(subscription.id), class: "btn btn-outline btn-xl", id: "report_found" %>

    <% elsif subscription.user == current_user %>
    <h6 class="pet_name"><%= subscription.title %></h6>
        <div class="actions">
        <%= link_to subscription_edit_path, subscription do %>
        <i class="fa fa-pencil"></i>
        <% end %>
    </div>
    <%= image_tag(subscription.pet_image, class: "img-raised img-thumbnail")%>
    <%= link_to 'Report Lost', subscriptions_lost_path(subscription.id), class: "btn btn-outline btn-xl", id: "report_lost", 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', :title => 'Have you checked everywhere? Even checked with the neighbors?' %>
    <% elsif subscription.lost? %>
    <h6 class="pet_name"><%= subscription.title %> is missing!</h6>
    <%= link_to image_tag(subscription.pet_image, class: "img-raised img-thumbnail"), subscription %>
    <% else %>
    <h6 class="pet_name"><%= subscription.title %></h6>
    <%= image_tag(subscription.pet_image, class: "img-raised img-thumbnail")%>
    <% end %>
    <% end %>
</div>
<div class="col-md-6">
    <!--<img src="../assets/img/bg7.jpg" alt="" class="img-raised">-->
    <!--<img src="../assets/img/bg8.jpg" alt="" class="img-raised">-->
</div>
</div>
</div>
</div>
</div>
<div class="tab-pane" id="messages" role="tabpanel">
<div class="row">
<div class="col-md-10 offset-md-1">
<div class="row collections">
<div class="col-md-6">
    <!--<img src="../assets/img/bg3.jpg" alt="" class="img-raised">-->
    <!--<img src="../assets/img/bg8.jpg" alt="" class="img-raised">-->
</div>
<div class="col-md-6">
    <!--<img src="../assets/img/bg7.jpg" alt="" class="img-raised">-->
    <!--<img src="../assets/img/bg6.jpg" class="img-raised">-->
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


</div>
</body>

</html>