<!DOCTYPE html>
<html lang="en">

<head>
<title>Where's Hara | Home</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


<style>
.fa-info-circle{
color: #6ae86f;
}

#contact: {
display:none;
}
body{
background-color:#ffffff;
}
.btn-xls{
background:rgba(0, 0, 0, 0.2);
}
li{
text-transform:capitalize;
}

/*video*/
.video-wrapper {
    position: relative;
}

.video-wrapper > video {
    width: 100%;
    vertical-align: middle;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}

.video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;
    background-image: linear-gradient(transparent, #000);
    transition: opacity 150ms;
}

.video-overlay-play-button:hover {
    opacity: 1;
}

.video-overlay-play-button.is-hidden {
    display: none;
}
header.masthead{
  background: url(""), linear-gradient(to left,#26A69A,#81C784);
}
.fa-paw{
font-size: 10px;
}
#group_left{
margin-left:-15%;
}
/*mac laptop*/
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  #group_left{
  margin-left:0%;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
section.cta .cta-content h2{
  margin-left:0%;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
#adopt{
  margin-left:30% !important;
  }
}
/*iphone 6*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){
section.cta .cta-content h2 {
margin-left:1%;
  }
}
/*iphone 6*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){
#group_left {
margin-left: 0%;
}
}
/*iphone 6*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){
#adopt {
margin-top: 10% !important;
margin-left: 15% !important;
}
}
</style>
</head>

<body id="page-top">

<header class="masthead">
<div class="container h-100">
<div class="row h-100">
<div class="col-lg-7 my-auto">
<div class="header-content mx-auto">
<h1 class="mb-5">A Unique Community <span style="color:#6ae86f; font-size:larger; font-weight:600;">for</span> lost Pets<i class="fa fa-paw"></i></h1>
<!--<a href="#download" class="btn btn-outline btn-xl"> Signup with Facebook</a>-->
<% if current_user %>
<%= link_to 'Help Keep us Free!', home_donate_path, class: "btn btn-outline btn-xl" %>
<% else %>
<%= link_to 'Signup with Facebook', "users/auth/facebook", id: "sign_in", class: "btn btn-outline btn-xl" %>
<% end %>
</div>
<br>
<ul id="feature_list">
  <li>
    Add up to 3 pets
  </li>
  <li>
    Exchange private messages
  </li>
  <li>
    Find & Schedule pet Play Dates
  </li>
  <li>
    Report your pet Lost at the click of a button
  </li>
    <li>
    Report your pet Found at the click of a button
  </li>
    <li>
  And so much more!
  </li>
</ul>
</div>
<div class="col-lg-5 my-auto">
<div class="device-container">
<div class="device-mockup iphone6_plus portrait white">
<div class="device">
<div class="screen">
  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
  <div class="video-wrapper">

    <!--<iframe width="325" height="180" poster="http://www.creativelysimpledesign.com/wp-content/uploads/2017/08/Screen-Shot-2017-08-19-at-2.08.28-PM.png" src="https://www.youtube.com/embed/zCTu9IKUATE" frameborder="0" allowfullscreen>-->
      
    <!--</iframe>-->
</div>
</div>
<div class="button">
  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<span class="paw"><i class="fa fa-paw" id="green_paw"></i></span>
</header>
<!--adopt section-->
<section class="cta">
<div class="cta-content">
<div class="container">
<h2 style="color:#455a64 !important;">Stop waiting.<br>Start Adopting.</h2><%= render 'adopt' %>
<div id="group_left">
    <%= link_to 'Take a look!', class: "btn btn-outline btn-xl disable" %>
  <br>
  <i class="fa fa-info-circle" aria-hidden="true" data-placement="right" data-toggle="tooltip" title="This service is coming soon."></i>
</div>
</div>
</div>

<div class="overlay" style="background-color:white;"></div>

</section>


<!--donate section-->
<section class="download bg-primary text-center" id="download">
<div class="container">
<div class="row">
<div class="col-md-8 mx-auto">
<h2 class="section-heading">Help us Keep our service free!</h2>
<%= link_to 'Make A Donation Now', home_donate_path, class: "btn btn-outline btn-xl" %>
<br>
<i class="fa fa-info-circle" aria-hidden="true" data-placement="right" data-toggle="tooltip" title="Make a secure donation via Paypal."></i>
<!--<p>Our web-app is completely free and private!</p>-->
<!--<p>Don't be charged for subscriptions. No signup necessary </p>-->
<br>

</div>
</div>
</div>
</section>







<script>
var videoPlayButton,
	videoWrapper = document.getElementsByClassName('video-wrapper')[0],
    video = document.getElementsByTagName('video')[0],
    videoMethods = {
        renderVideoPlayButton: function() {
            if (videoWrapper.contains(video)) {
				this.formatVideoPlayButton()
                video.classList.add('has-media-controls-hidden')
                videoPlayButton = document.getElementsByClassName('video-overlay-play-button')[0]
                videoPlayButton.addEventListener('click', this.hideVideoPlayButton)
            }
        },

        formatVideoPlayButton: function() {
            videoWrapper.insertAdjacentHTML('beforeend', '\
                <svg class="video-overlay-play-button" viewBox="0 0 200 200" alt="Play video">\
                    <circle cx="100" cy="100" r="90" fill="none" stroke-width="15" stroke="#fff"/>\
                    <polygon points="70, 55 70, 145 145, 100" fill="#fff"/>\
                </svg>\
            ')
        },

        hideVideoPlayButton: function() {
            video.play()
            videoPlayButton.classList.add('is-hidden')
            video.classList.remove('has-media-controls-hidden')
            video.setAttribute('controls', 'controls')
        }
	}

videoMethods.renderVideoPlayButton()
</script>

<!-- tooltips -->
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
</body>

</html>
