<style>
.time-control{
display:none;
}

select {
text-transform: none;
color: #c12d4d;
font-size: 16px;
font-weight: 800;
}

input#subscription_phone_number{
color: #a93466;
font-weight: 700;
margin-left: -10%;
}

input#subscription_url{
color: #a93466;
font-weight: 700;
}

label{
text-transform: uppercase;
}
</style>
<%= form_for(@subscription) do |f| %>
<% if @subscription.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

  <ul>
  <% @subscription.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
<%= f.label :your_subscription_title %><br>
<%= f.text_field :title, placeholder: 'Lets try to keep it short ', class: "form-control border-input" %>
</div>
<br>
<br>
<div class="form-group">
<%= f.label :Select_a_company %><br>
    <p id="tags_p">Don't see the Company? Please Let us know and We'll add it.  Golikealocal@gmail.com</p>
    <br>
<%= f.select(:company, options_for_select([['Hulu'], ['Netflix'], ['Itunes'], ['Spotify'], ['SoundCloud'], ['Xbox'], ['Microsoft'], ['TNT'], ['HBO'], ['Amazon'], ['Other']  ]), class: "company-select") %>
</div>
<br>
<br>
<div class="form-group">
<!--f.datetime_select :start_time, class: "form-control border-input" %>-->
 <!--time_select :subscription, :time, {:class => "form-control time-control" } %>-->
</div>

<div class="form-group">
<%= f.label :When_does_your_subscription_end_? %><br>
 <!--f.datetime_select :end_time, class: "form-control border-input" %>-->
<%= date_select :subscription, :time, {:class => "form-control" } %>
</div>

<br>
<br>
<div class="form-group">
<%= f.label :phone_number, :class => 'control-label' %>
<i class="fa fa-info-circle" aria-hidden="true" data-placement="right" data-toggle="tooltip" title="We don't sell your information."></i>

<div class="col-lg-10">
<%= f.text_field :phone_number, placeholder: '20612345678', :class => 'form-control' %>
</div>
</div>
<br>

<div class="form-group">
<%= f.label :The_link_to_cancel_your_account %>
<i class="fa fa-info-circle" aria-hidden="true" data-placement="right" data-toggle="tooltip" title="Optional. Add the profile url here, it'll be quicker to delete it later."></i>
<%= f.text_field :url, placeholder: 'www.hulu.co/4356/yourprofile', class: "form-control border-input" %>
</div>
<br>
<div class="actions">
<%= f.submit class: "btn btn-primary" %>
</div>
<br>
<br>

<% end %>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>