  <style>
body{
background:#C2185B;
}
#show_image{
width: 30%;
}
.alert{
z-index:2;
}
.lead{
font-size: 2.25rem;
font-weight: 100;
color: white;
}
.mt-5 {
margin-top: 3rem!important;
text-transform: capitalize;
color: azure;
}
.card{
border:none;
}
/* iphone 6 Portrait */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
#menu-toggle {
 display:none !important;
  }
}

  </style>
<!-- Page Content -->
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
     <%= image_tag(@subad.image, id: "show_image") %>
     <!--share on twitter-->
     <%= link_to "http://twitter.com/home?status=Need something free in your life? Get #{@subad.title} from #{@subad.brand} #{subad_url(@subad)} Manage your Subscription here!", target: "_blank" do %><i style="font-size: 27px; color: #2196F3;" class="fa fa-twitter" data-placement="right" data-toggle="tooltip" title="Share this on Twitter!"></i><% end %>
     <!--end-->
  <h1 class="mt-5"><%= @subad.brand %></h1>
  <p class="lead"><%= @subad.content %></p>
  <ul class="list-unstyled">
    <li></li>
    <li><%= link_to 'Claim', @subad.url, target: "_blank", class: "btn btn-outline btn-xl" %></li>
  </ul>
</div>
</div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>



<!-- link_to 'Edit', edit_subad_path(@subad) %> |-->
<!--link_to 'Back', subads_path %>-->
