<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="Where's Hara is an online platform focused on connecting the pet community.">
  <meta name="keywords" content="lost pets, find lost pets, lost dog, lost cat">
  <link rel="icon" type="image/png" href="http://www.lavail.io/wp-content/uploads/2017/09/whereshara-logo.png">
  <!--<title>When Does it End</title>-->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--custom-->
  <%= stylesheet_link_tag 'now_ui_kit', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'demo', media: 'all', 'data-turbolinks-track' => true %>
  <!--end-->

  <!--custom script-->
  <%= javascript_include_tag 'now_ui_kit', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.3.2.1.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap_datepicker', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap_switch', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'tether.min', 'data-turbolinks-track' => true %>
  <!--custom end-->
  <%= csrf_meta_tags %>
  <!--tracking code-->
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  <!--bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <!--font-awesome-->
  <script src="https://use.fontawesome.com/a528beeb89.js"></script>
<style>
.alert {
padding: .75rem 1.25rem;
margin-bottom: 1rem;
border: 1px solid transparent;
border-radius: .25rem;
font-size: inherit;
position: absolute;
background:#50ac77;
color: aliceblue;
z-index:1032;
}
/* iphone 6 Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
.alert {
z-index:1032;
font-size:inherit;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
.close {
z-index:1032;
margin-top: 13px;
margin-left: 15px;
  }
}
</style>
</head>
<body>
<!--navbar-->
<%= render 'shared/navbar' %>
<!--alert messages-->
<% flash.each do |key, value| %>
  <% alert_class = case key
                   when :notice then "success"
                   when :alert then "danger"
                   else key
                   end %>
  <%= content_tag :div, class: "alert alert-#{alert_class}" do %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
  <% end %>
<% end %>
<%= yield %>
<footer>
<div class="container">
<p>&copy; 2017 Developed with <i class="fa fa-heart" style="color:#ffffff"></i> by <a href="http://lavail.io" style="color:#ffffff;" target="blank">Aris Nance</a>. </p>
<ul class="list-inline">
<li class="list-inline-item">
<a href="/about">About</a>
</li>
<li class="list-inline-item">
<a href="/donate">Donate</a>
</li>
<li class="list-inline-item">
<a href="https://www.twitter.com/whereshara" target="blank"><i class="fa fa-twitter"></i></a>
</li>
</ul>
</div>
</footer>
<script>
$(".alert" ).fadeOut(5000);

</script>
</body>
</html>
